.login-form {
    background-color: rgba(245, 245, 245, 0.459);
    padding: 20px;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8); /* Sombra */
    width: 300px; /* Largura específica do formulário */
    margin: 0 auto; /* Centraliza o formulário na horizontal */
    margin-top: 50px; /* Espaçamento superior */
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 12px); /* Largura do input, ajustando para o padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    border: none;
}

.login-form input[type="submit"] {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
}

.login-form input[type="submit"]:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}